---
import PublicLayout from "@/layouts/PublicLayout.astro";

import PublicNavbar from "@/components/layout/PublicNavbar";

import Hero from "@/components/home/Hero";
import PrivateBetaModal from "@/components/home/PrivateBetaModal";
---

<PublicLayout title="TRIM IT | By Angkasa Project">

  <PublicNavbar client:load />

  <main class="relative min-h-screen overflow-hidden">
    <Hero client:load />
  </main>

  <PrivateBetaModal client:load />

</PublicLayout>