---
import PublicLayout from "@/layouts/PublicLayout.astro";

import Hero from "@/components/home/Hero";
import PrivateBetaModal from "@/components/home/PrivateBetaModal";
---

<PublicLayout
  title="TRIMIT | By Angkasa Project"
  description="Platform manajemen tautan modern untuk membuat short link, custom Open Graph, dan analitik dalam satu tempat."
>
  <main class="relative overflow-hidden">
    <Hero client:load />
  </main>

  <PrivateBetaModal client:load />
</PublicLayout>